form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background: #F8E2A1;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #FFA114;
}


.title-form {
    font-weight: 700;
    color: #FFA114;
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}


.input,
.text-area {
    font-size: 1rem;
    font-weight: 500;
    background: #fff;
    border: 3px solid #FFA114;  
    border-radius: 1rem;
    padding: 0.8rem 1.2rem;
    width: 90%;  
    max-width: 500px;  
    margin-bottom: 1.5rem;
    transition: all 0.3s ease;
}

.input:focus,
.text-area:focus {
    border-color: #FF8C00;  
    box-shadow: 0 0 8px rgba(255, 140, 0, 0.5);  
}

.text-area {
    width: 30rem;  
    height: 15rem;  
    resize: vertical;
}

.success-message {
    background-color: #e6f4ea;
    color: #1e7e34;
    border: 1px solid #c3e6cb;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 14px;
}

.success-message::before {
    content: '✓';
    margin-right: 10px;
    font-weight: bold;
}

.message-container {
    position: fixed; 


    z-index: 1000; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.success-message,
.error-message {
    animation: fadeIn 0.5s ease-in-out;
    width: 50%; 
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1%;
}

.error-message {
    background-color: #ffeaea;
    color: #dc3545;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.error-message::before {
    content: '✕';
    margin-right: 10px;
    font-weight: bold;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.btn-submit {
    padding: 12px 24px;
        border: 3px solid #FFA114;
    border-radius: 2rem;
    background: #FFA114;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-submit:hover {
    background: #FF8C00;
    transform: translateY(-3px);
}

.btn-submit:active {
    transform: translateY(1px);
}


@media (max-width: 768px) {
    .input, .text-area {
        width: 100%;
        max-width: 100%;
    }

    .title-form {
        font-size: 3rem;
    }
}
